/* ======================================================================== *
 * RESETS
 * ======================================================================== */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
}

html,
body {
    height: 100%;
}

img {
    width: 100%;
    height: auto;
}

/* ======================================================================== *
 * TYPOGRAPHY
 * ======================================================================== */

body {
  font-family: 'Lato', sans-serif;
}

/* Headings
========================================================================== */

h1 {
  font-size: 2em;
  line-height: 1.6em;
}


/* ======================================================================== *
 * LAYOUT
 * ======================================================================== */

.container {
	width: 100%;
  height: 100%;
}

/* PAGE
===========================================================================*/
.page {
  height: 100%;

  .page__image {
    z-index: 2;
  }

  .page__image-small {
    width: 800px;
    height: 450px;

    position: absolute;
    top: 15%;
    left: 50%;
    margin-left: -400px;
  }

  .page__main {
    position: absolute;
    bottom: 8%;
    width: 100%;
  }

  .page__footer {
    @extend .page__main;

    background-color: #00472a;
    bottom: 0;
    padding: 1%;

    .logo {

      position: absolute;
      right: 20px;
      top: 30px;

      width: 350px;
    }
  }
}

/* LOGO
===========================================================================*/

.logo {
  width: 25%;
  float: left;

  .logo__wrap {
    padding: 9% 15%;
  }

  .logo__standard {
    width: 190px;
    margin-bottom: 20px;
  }

  .logo__segundary {
    height: 80px;
    background-size: 100%;
    background-repeat: no-repeat;
  }
}

/* CONTEÚDO
===========================================================================*/

.entry-title {
  h1 {
    color: white;
  }
}

.entry-content {
  width: 75%;
  float: left;

  padding: 30px;
  background-image: url('../img/bg-content.jpg');
}

.info {
  color: #fff;

  .info__icon {
    width: 60px;
    float: left;
  }

  .info__forecast {
    width: 65px;
    float: left;

    .entry-text {
      margin-bottom: 10px;
    }
  }

  .info__date-week {
    float: left;

    font-size: 1.4em;
    text-align: right;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 2.2;

    &:before,
    &:after {
      padding: 0 10px;
      content: "/";
    }
  }

  .info__datatime {
    font-size: 1.4em;
    line-height: 2.2;
  }
}


/* ======================================================================== *
 * TAG
 * ======================================================================== */

.tag {
  margin-bottom: 30px;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 700;
}


/* ======================================================================== *
 * ICON
 * ======================================================================== */

.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.icon--weather {
  background-image: url('../img/icon/time.svg');
  background-repeat: no-repeat;
}

/* Paragraphy
========================================================================== */

.pink {
  color: #ec008c;
}
