/* ======================================================================== *
 * FILTER AND EFFECTS
 * ======================================================================== */

.filter {
  width: 100%;
  height: 100%;
  position: absolute;
}

.filter-radial {
  background: radial-gradient(farthest-side, rgba(0,0,0,0) 90%, rgba(0,0,0,1) 150%);
}

.filter-blur {
  background-color: aliceblue;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.filter-gradient {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,.25));
  background-image: -o-linear-gradient(transparent, rgba(0,0,0,.25));
  background-image: linear-gradient(transparent, rgba(0,0,0,.25));;
}


// ==========================================================================
// MEDIE QUEIRES
// ==========================================================================

/* Smartphones (portrait and landscape) ----------- */

@media only screen
and (min-device-width : 320px) { }

/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px) { }

/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px) and (orientation : portrait) { }

/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px) and (orientation : landscape) { }

/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) { }

