@charset "UTF-8";
/* ======================================================================== *
 * GRID SIMPLES
 * ======================================================================== */
/* Resets */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* The Columns */
[class^="column-"] {
  float: left;
  padding: 0 1em;
}

/* The row */
.row {
  margin-left: -1em;
  margin-right: -1em;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Column widths  */
.column-1 {
  width: 8.33333%;
}

.column-2 {
  width: 16.66667%;
}

.column-3 {
  width: 25%;
}

.column-4 {
  width: 33.33333%;
}

.column-5 {
  width: 41.66667%;
}

.column-6 {
  width: 50%;
}

.column-7 {
  width: 58.33333%;
}

.column-8 {
  width: 66.66667%;
}

.column-9 {
  width: 75%;
}

.column-10 {
  width: 83.33333%;
}

.column-11 {
  width: 91.66667%;
}

.column-12 {
  width: 100%;
}

/* Special Classes */
.column-third {
  width: 33.33333%;
}

.column-two-thirds {
  width: 66.66667%;
}

.column-half {
  width: 50%;
}

.column-quarter {
  width: 25%;
}

/* Responsive */
@media (max-width: 1024px) {
  [class^="column-"] {
    float: left;
    padding: 0 0.5em;
  }

  /* The row */
  .row {
    margin-left: -1em;
    margin-right: -1em;
  }
}
@media (max-width: 768px) {
  [class^="column-"] {
    width: 100%;
    margin-bottom: 1em;
  }

  /* The row */
  .row {
    margin-left: -0.5em;
    margin-right: -0.5em;
  }
}
/* ======================================================================== *
 * RESETS
 * ======================================================================== */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

img {
  width: 100%;
  height: auto;
}

/* ======================================================================== *
 * TYPOGRAPHY
 * ======================================================================== */
body {
  font-family: 'Lato', sans-serif;
}

/* Headings
========================================================================== */
h1 {
  font-size: 2em;
  line-height: 1.6em;
}

/* ======================================================================== *
 * LAYOUT
 * ======================================================================== */
.container {
  width: 100%;
  height: 100%;
}

/* PAGE
===========================================================================*/
.page {
  height: 100%;
}
.page .page__image {
  z-index: 2;
}
.page .page__image-small {
  width: 800px;
  height: 450px;
  position: absolute;
  top: 15%;
  left: 50%;
  margin-left: -400px;
}
.page .page__main, .page .page__footer {
  position: absolute;
  bottom: 8%;
  width: 100%;
}
.page .page__footer {
  background-color: #00472a;
  bottom: 0;
  padding: 1%;
}
.page .page__footer .logo {
  position: absolute;
  right: 20px;
  top: 30px;
  width: 350px;
}

/* LOGO
===========================================================================*/
.logo {
  width: 25%;
  float: left;
}
.logo .logo__wrap {
  padding: 9% 15%;
}
.logo .logo__standard {
  width: 190px;
  margin-bottom: 20px;
}
.logo .logo__segundary {
  height: 80px;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* CONTEÚDO
===========================================================================*/
.entry-title h1 {
  color: white;
}

.entry-content {
  width: 75%;
  float: left;
  padding: 30px;
  background-image: url("../img/bg-content.jpg");
}

.info {
  color: #fff;
}
.info .info__icon {
  width: 60px;
  float: left;
}
.info .info__forecast {
  width: 65px;
  float: left;
}
.info .info__forecast .entry-text {
  margin-bottom: 10px;
}
.info .info__date-week {
  float: left;
  font-size: 1.4em;
  text-align: right;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 2.2;
}
.info .info__date-week:before, .info .info__date-week:after {
  padding: 0 10px;
  content: "/";
}
.info .info__datatime {
  font-size: 1.4em;
  line-height: 2.2;
}

/* ======================================================================== *
 * TAG
 * ======================================================================== */
.tag {
  margin-bottom: 30px;
  font-size: 1.4em;
  text-transform: uppercase;
  font-weight: 700;
}

/* ======================================================================== *
 * ICON
 * ======================================================================== */
.icon {
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.icon--weather {
  background-image: url("../img/icon/time.svg");
  background-repeat: no-repeat;
}

/* Paragraphy
========================================================================== */
.pink {
  color: #ec008c;
}

/* ======================================================================== *
 * FILTER AND EFFECTS
 * ======================================================================== */
.filter {
  width: 100%;
  height: 100%;
  position: absolute;
}

.filter-radial {
  background: radial-gradient(farthest-side, rgba(0, 0, 0, 0) 90%, black 150%);
}

.filter-blur {
  background-color: aliceblue;
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.filter-gradient {
  background-color: #ffffff;
  background-image: -webkit-linear-gradient(transparent, rgba(0, 0, 0, 0.25));
  background-image: -o-linear-gradient(transparent, rgba(0, 0, 0, 0.25));
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.25));
}

/* Smartphones (portrait and landscape) ----------- */
/* iPads (portrait and landscape) ----------- */
/* iPads (portrait) ----------- */
/* iPads (landscape) ----------- */
/* Desktops and laptops ----------- */
/* Logotipo
===========================================================================*/
.zoeira {
  background-image: url("file:///Users/gabrielmelo/workspace/Work/SVM/pagina-view/public/assets/img/logos/zoeira.png");
}
